.tile {
    /* Přidejte stylové vlastnosti podle potřeby */
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dva sloupce */
    /*gap: 10px; !* mezera mezi dlaždicemi *!*/
}

.tile h3 {
    color: #333;
}

.tile p {
    margin: 5px 0;
}

.tile:hover {
    background-color: #d7d7d7;
    cursor: pointer;
}